.chat-whole {
    padding: 10px;
    background-color: aqua;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 750px;
    overflow-y: auto;
}

.chat-input {
    width: 97%;
    border: 1px solid rgb(139, 132, 132);
    border-radius: 5px;
}

.chat-button {
    border: 1px solid rgb(139, 132, 132);
    border-radius: 5px;
}

.chat-chats {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid rgb(139, 132, 132);
}

