.input {
    width: 100%;
    color: black;
    font-size: x-large;
}
.button {
    background-color: lightgray;
    padding: 5px;
    width: 100%;
}
.button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}